#audio-controls {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#toggle-music-button, #watch-trailer-button {
    font-size: 16px; /* Tamanho da fonte reduzido */
    background-color: #000000; /* Cor cinza escuro */
    color: #cecece; /* Cor branca para o texto */
    border: none;
    border-radius: 5px; /* Borda arredondada */
    height: 30px; /* Altura reduzida */
    cursor: pointer;
    margin-right: 10px; /* Margem à direita para separar os botões */
    padding: 0 16px; /* Espaçamento interno reduzido */
    font-family: "Merriweather", serif;
    transition: .3s;
}

#watch-trailer-button:hover {
    background-color: #292929;
    transition: .3s;
}

#toggle-music-button:hover {
    background-color: #292929;
    transition: .3s;
}